<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace = "edu.eci.cvds.persistencia.mybatisimpl.mappers.ElementoMapper">
  	<select parameterType = "map" id = "getElemento" resultMap = "ElementoResult">
  		SELECT
  		u.id,
  		u.nombre,
  		u.fabricante,
  		u.disponible,
  		FROM elemento as u
  		WHERE id = #{id};
  	</select>
  	<insert parameterType = "map" id = "agregarElemento">
  		INSERT INTO elemento
  		(nombre, fabricante, disponible)
  		VALUES 
  		(#{nombre}, #{fabricante}, #{disponible});
  	</insert>
  	
  	<resultMap type = 'Elemento' id = 'ElementoResult'>
  		<id property = 'id' column = 'id' />
  		<result property = "nombre" column = "fabricante" />
  		<result property = "fabricante" column = "idequipo" />
  		<result property = "disponible" column = "disponible" />
  	</resultMap>
  </mapper>