<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace = "edu.eci.cvds.persistencia.mybatisimpl.mappers.EquipoMapper">
  	
  	<select id = "getEquipo" parameterType = "map" resultMap = "EquipoResult" >
  		SELECT
  		u.id,
  		u.nombre,
  		u.disponible,
  		u.funcionamiento,
  		u.laboratorio
  		FROM equipo as u
  		WHERE id = #{id};
  	</select>
  	<select id = "getEquipos" parameterType = "map" resultMap = "EquipoResult">
  		SELECT
  		*
  		FROM equipo;
  	</select>
  	<select id = "getEquiposDisponibles" parameterType = "map" resultMap = "EquipoResult">
  		SELECT
  		*
  		FROM equipo
  		WHERE disponible = True;
  	</select>
  	<update id = "asociarEquipo" parameterType = "map">
  		UPDATE equipo SET disponible = False, idlaboratorio = #{idlaboratorio}
  		WHERE id = #{id} AND disponible = True;
  	</update>
  	<update id = "bajarEquipo" parameterType = "map">
  		UPDATE equipo SET disponible = False, funcionamiento = False, idlaboratorio = null
  		WHERE id = #{id};
  	</update>
  	
  	<insert parameterType = "map" id = "agregarEquipo">
  		INSERT INTO equipo
  		(nombre, disponible, funcionamiento, laboratorio)
  		VALUES
  		(#{nombre}, #{disponible}, #{funcionamiento}, #{idlaboratorio});
  	</insert>
  	
  	<resultMap type = 'Equipo' id = 'EquipoResult'>
  		<id property = 'id' column = 'id' />
  		<result property = "nombre" column = "nombre" />
  		<result property = "disponible" column = "disponible" />
  		<result property = "funcionamiento" column = "funcionamiento" />
  		<result property = "laboratorio" column = "laboratorio" />
  	</resultMap>
  
  </mapper>