<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.eci.cvds.persistencia.mybatisimpl.mappers.LaboratorioMapper">

  	<select id = "getLaboratorioPorNombre" parameterType = "map" resultMap = "LaboratorioResult">
  		SELECT
  		*
  		FROM laboratorio
  		WHERE nombre = #{nombre};
  	</select>
  	<select id = "getLaboratorios" resultMap = "LaboratorioResult">
  		SELECT
  		u.id,
  		u.nombre,
  		u.capacidad,
  		u.disponible,
  		u.fechacreacion,
  		u.fechacierre
  		FROM laboratorio as u;
  	</select>
  	<select id = "getLaboratoriosDisponibles" resultMap = "LaboratorioResult">
  		SELECT
  		u.id,
  		u.nombre,
  		u.capacidad,
  		u.disponible,
  		u.fechacreacion,
  		u.fechacierre
  		FROM laboratorio as u
  		WHERE u.fechacierre = null;
  	</select>
  	<update parameterType = "map" id = "asociarEquipo">
  		UPDATE
  		laboratorio SET capacidad = capacidad - 1
  		WHERE nombre = #{nombre};
  	</update>
  	<update parameterType = "map" id = "cerrarLaboratorio">
  		UPDATE laboratorio SET fechacierre = null
  		WHERE nombre = #{nombre};
  	</update>
  	<insert parameterType = "map" id = "agregarLaboratorio">
  		INSERT INTO laboratorio
  		(nombre, capacidad, disponible, fechacreacion, fechacierre)
  		VALUES
  		(#{nombre}, #{capacidad}, #{disponible}, #{fechacreacion}, #{fechacierre});
  	</insert>
  	
  	<resultMap type = 'Laboratorio' id = 'LaboratorioResult'>
  		<id property = 'id' column = 'id' />
  		<result property = "nombre" column = "nombre" />
  		<result property = "capacidad" column = "capacidad" />
  		<result property = "disponible" column = "disponible" />
  		<result property = "fechacreacion" column = "fechacreacion" />
  		<result property = "fechacierre" column = "fechacierre" />
  	</resultMap>
  </mapper>