<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.cvds.persistencia.mybatisimpl.mappers.NovedadMapper">
 
	<select parameterType="map" id="getNovedad" resultMap="NovedadResult">
 		SELECT
 		u.id,
 		u.fecha,
 		u.carnet,
 		u.idequipo,
 		u.idelemento,
 		u.descripcion,
 		u.tiponovedad
 		FROM novedad as u
 		WHERE id=#{idNov};
 	</select>
  	<select parameterType="map" id="getNovedades" resultMap="NovedadResult">
 		SELECT
 		a.id,
 		a.fecha,
 		a.carnet,
 		a.idequipo,
 		a.idelemento,
 		a.descripcion,
 		a.tiponovedad
 		FROM novedad as a
 		ORDER BY a.fecha DESC;
 	</select>
 	<select parameterType = "map" id = "getNovedadPorEquipo" resultMap = "NovedadResult">
 		SELECT
 		*
 		FROM novedad
 		WHERE idequipo = #{idequipo};
 	</select>
 	<select parameterType = "map" id = "getNovedadPorElemento" resultMap = "NovedadResult">
 		SELECT
 		*
 		FROM novedad
 		WHERE idelemento = #{idelemento};
 	</select>
 	<insert parameterType = "map" id = "agregarNovedadAlRegistroLab">
 		INSERT INTO novedad
 		(carnet, idequipo, descripcion, tiponovedad)
 		VALUES
 		(#{carnet}, #{idequipo}, #{descripcion}, #{registrar});
 	</insert>
 	<insert parameterType = "map" id = "agregarNovedadAsociacion">
 		INSERT INTO novedad
 		(carnet, idequipo, descripcion, tiponovedad)
 		VALUES
 		(#{carnet}, #{idequipo}, #{descripcion}, #{tiponovedad});
 	</insert>
 	<insert parameterType = "map" id = "agregarNovedad">
  		INSERT INTO novedad
  		(fecha, carnet, idequipo, idelemento, descripcion, tiponovedad)
  		VALUES 
  		(null, #{carnet}, #{idequipo}, #{idelemento}, #{descripcion}, #{tiponovedad});
  	</insert>
 

	<resultMap type='Novedad' id='NovedadResult'>
	    <id property='id' column='id'/>
	    <result property="fecha" column="fecha"></result>
	    <result property="carnet" column="carnet"></result>
		<result property="idequipo" column="idequipo"></result>
		<result property="idelemento" column="idelemento"></result>
		<result property="descripcion" column="descripcion"></result>
		<result property="tiponovedad" column="tiponovedad"></result>
	</resultMap>
</mapper>